
# ===== Build output =====
*.exe
*.dll
*.o
*.obj

# ===== Build folders =====
build/
bin/
obj/

# ===== IDE =====
.vs/
.vscode/

# ===== Logs =====
fileKeyLog.txt
*.log

# ===== Pictures =====
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
